<div style="width: 960px;">
<!-- HBMonitor buttons HTML code -->
<a href="/"><button class="button link">&nbsp;Home&nbsp;</button></a>

<!--disable about and weather button-->
<!--<a href="/about"><button class="button link">&nbsp;About&nbsp;</button></a>-->
<!--<a href="/weather"><button class="button link">&nbsp;Weather&nbsp;</button></a>-->


{% if auth == True %}
&nbsp;
<div class="dropdown">
    <!--change label from Admin Area to Extras-->
  <button class="dropbtn">&nbsp;Extras&nbsp;</button>
  <div class="dropdown-content">
    <a href="/masters">&nbsp;Masters&nbsp;</a>
    <a href="/peers">&nbsp;Peers&nbsp;</a>
    <a href="/opb">&nbsp;OpenBridge&nbsp;</a>
 {% if dbridges == True %}
    <a href="/bridges">&nbsp;Bridges&nbsp;</a>
 {% endif %}
    <a href="/moni">&nbsp;Monitor&nbsp;</a>
    <a href="/sinfo">&nbsp;System Info&nbsp;</a>
  </div>
</div>
{% else %}
&nbsp;
<a href="/masters"><button class="button link">&nbsp;Masters&nbsp;</button></a>
&nbsp;
<a href="/peers"><button class="button link">&nbsp;Peers&nbsp;</button></a>
&nbsp;
<a href="/opb"><button class="button link">&nbsp;OpenBridge&nbsp;</button></a>
{% if dbridges == True %}
&nbsp;
<a href="/bridges"><button class="button link">&nbsp;Bridges&nbsp;</button></a>
 {% endif %}
&nbsp;
<a href="/moni"><button class="button link">&nbsp;Monitor&nbsp;</button></a>
&nbsp;
<a href="/sinfo"><button class="button link">&nbsp;System Info&nbsp;</button></a>
&nbsp;
{% endif %}
<!--change label info button to Talk Groups-->
<a href="/info"><button class="button link">&nbsp;Talk Groups&nbsp;</button></a>
&nbsp;
</div>
<p></p>
