
<!--<body style="background-color: #d0d0d0;font: 10pt arial, sans-serif;">-->
<body>

<center>
<div style="width:960px; text-align: center; margin-top:5px;">
<div class="topnav" id="myTopnav">
  <a class="active" href="/">((+)) Radio Network</a>
  <a href="https://first-aid-radio.squarespace.com/blog">Blog</a>
  <a href="https://first-aid-radio.squarespace.com/volunteer">Get Involved</a>
  <a href="https://first-aid-radio.squarespace.com/services">Services</a>
  <a href="https://first-aid-radio.squarespace.com/team">Team</a>
  <a href="https://first-aid-radio.squarespace.com/about">Our Mission</a>
  <a href="https://first-aid-radio.squarespace.com">((+)) FirstAidRadio.com</a>
  <a href="javascript:void(0);" class="icon" onclick="navFunc()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!---<img src="/img/logo.png?random=323527528432525.24234" alt="" />--->
</div>
<div style="width: 960px;">
    <h1><<<system_name>>></h1>
<!--<p style="text-align:center;"><span style="color:#000;font-size: 18px; font-weight:bold;"><<<system_name>>></span></p>-->
<p></p>
</div>
<div style="width: 960px;">
<noscript>You must enable JavaScript</noscript>
    <p id="main"></p>
</div>
<!-- LOG monitor -->
<!--
<div style="width: 1150px; margin-left:0px;">
<fieldset style="width: 960px; margin-left:0px;margin-right:0px;font-size:14px;border-top-left-radius: 10px; border-top-right-radius: 10px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
	<legend><b><font color="#000">&nbsp;.: Call log window :.&nbsp;</font></b></legend>
        <pre id="log" style="height: 20em; text-align: left; overflow-y: scroll; font-size:13px; background-color: #000000; color:#b1eee9;"></pre>
</fieldset></div>
-->
<div style="width: 960px;">
<p style="text-align: center;"><span style="text-align: center; color:#ffffff">
Copyright (c) 2016-2021<br>The Regents of the <a target="_blank" href=http://k0usy.mystrikingly.com/>K0USY Group</a>. All rights reserved.<br><a title="HBMonv2 SP2ONG v20210401" target="_blank" href=https://github.com/sp2ong/HBMonv2>Version SP2ONG 2019-2021</a><br><br></span>
    <!-- THIS COPYRIGHT NOTICE MUST BE DISPLAYED AS A CONDITION OF THE LICENCE GRANT FOR THIS SOFTWARE. ALL DERIVATEIVES WORKS MUST CARRY THIS NOTICE -->
    <!-- This is version of HBMonitor SP2ONG 2019-2021 (v20210401)-->
</p>
</div>
</center>
<!--js script for responsive navbar-->
<!--<script>-->
<!--function navFunc() {-->
<!--  var x = document.getElementById("myTopnav");-->
<!--  if (x.className === "topnav") {-->
<!--    x.className += " responsive";-->
<!--  } else {-->
<!--    x.className = "topnav";-->
<!--  }-->
<!--}-->
<!--</script>-->
</body>
</html>
<!--<body style="background-color: #d0d0d0;font: 10pt arial, sans-serif;">-->
<body>
<center><div style="width:960px; text-align: center; margin-top:5px;">
<img src="/img/logo.png?random=323527528432525.24234" alt="" />
</div>
<div style="width: 960px;">
<p style="text-align:center;"><span style="color:#000;font-size: 18px; font-weight:bold;"><<<system_name>>></span></p>
<p></p>
</div>
<div style="width: 960px;">
<noscript>You must enable JavaScript</noscript>


<div style="width: 960px;">
<!-- HBMonitor buttons HTML code -->
<a href="/"><button class="button link">&nbsp;Home&nbsp;</button></a>
<a href=/about><button class="button link">&nbsp;About&nbsp;</button></a>
<a href="/news"><button class="button link">&nbsp;News&nbsp;</button></a>
<a href="/events"><button class="button link">&nbsp;Events&nbsp;</button></a>
<a href="/servicex"><button class="button link">&nbsp;Services&nbsp;</button></a>
<div class="dropdown">
  <button class="dropbtn">&nbsp;Station&nbsp;</button>
  <div class="dropdown-content">
      <a href="/moni">&nbsp;Web Links&nbsp;</a>
      <a href="/moni">&nbsp;-&nbsp;</a>
      <a href="/masters">&nbsp;Sun&nbsp;</a>
      <a href="/peers">&nbsp;Clock&nbsp;</a>
      <a href="/opb">&nbsp;Weather&nbsp;</a>
      <a href="/opb">&nbsp;Wind&nbsp;</a>
      <a href="/moni">&nbsp;Earth&nbsp;</a>
      <a href="/moni">&nbsp;--&nbsp;</a>
      <a href="/moni">&nbsp;Checklists&nbsp;</a>
      <a href="/moni">&nbsp;FCC&nbsp;</a>
      <a href="/moni">&nbsp;Gallery&nbsp;</a>
      <a href="/moni">&nbsp;Hamshack Hotline&nbsp;</a>
      <a href="/moni">&nbsp;QRZ&nbsp;</a>
      <a href="/moni">&nbsp;QSL&nbsp;</a>
      <a href="/moni">&nbsp;Web Links&nbsp;</a>
      <a href="/moni">&nbsp;Wiki&nbsp;</a>
      <a href="/moni">&nbsp;---&nbsp;</a>
      <a href="/moni">&nbsp;WebSDR&nbsp;</a>
      <a href="/moni">&nbsp;----&nbsp;</a>
      <a href="/moni">&nbsp;AWS Server&nbsp;</a>
      <a href="/moni">&nbsp;HBLink&nbsp;</a>
      <a href="/moni">&nbsp;HBMon&nbsp;</a>
      <a href="/moni">&nbsp;HamClock&nbsp;</a>
      <a href="/sinfo">&nbsp;Reserved&nbsp;</a>
  </div>
</div>
<!--{% if auth == True %}-->
<!-- Deleted &nbsp; -->
<div class="dropdown">
  <button class="dropbtn">&nbsp;Admin Area&nbsp;</button>
  <div class="dropdown-content">
    <a href="/masters">&nbsp;Masters&nbsp;</a>
    <a href="/peers">&nbsp;Peers&nbsp;</a>
    <a href="/opb">&nbsp;OpenBridge&nbsp;</a>
 <!--{% if dbridges == True %}-->
    <a href="/bridges">&nbsp;Bridges&nbsp;</a>
 <!--{% endif %}-->
    <a href="/moni">&nbsp;Monitor&nbsp;</a>
    <a href="/sinfo">&nbsp;System Info&nbsp;</a>
  </div>
</div>
<p></p>

<!---ADJUSTED FONT SIZE FROM 14pt to 16pt--->
<!--change background color from f0f0f0f0 to 263942-->
<!--change background color from 263942 to 40607F-->
<br><fieldset style="border-radius: 8px; background-color:#40607F;margin-left:15px;margin-right:15px;font-size:16px;border-top-left-radius: 10px; border-top-right-radius: 10px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <!--change font color from 000 to 96A1Ac and add <mr>-->
<legend><b><font color="#96A1AC">&nbsp;.: Hamclock :.&nbsp;</font></b></legend><mr></mr>

<!---<iframe width="900" height="600" src="https://208.113.200.144:8080/live.html" frameborder="0"></iframe>--->

<iframe width="900" height="600" src="http://208.113.135.254:8080/live.html" frameborder="0"></iframe>
</fieldset><br>

<br><fieldset style="border-radius: 8px; background-color:#40607F;margin-left:15px;margin-right:15px;font-size:14px;border-top-left-radius: 10px; border-top-right-radius: 10px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <!--change font color from 000 to 96A1AC and add <mr>-->
       <!--change  color size from 10px to 12px-->
       
       
       
<legend><b><font color="#96A1AC">&nbsp;.: Windy.com :.&nbsp;</font></b></legend><mr></mr>
<table style="width:100%; font: 12pt arial, sans-serif">

<iframe width="900" height="450" src="https://embed.windy.com/embed2.html?lat=39.351&lon=-92.516&detailLat=37.401&detailLon=-89.050&width=650&height=450&zoom=7&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>

</table></fieldset><br>


<!--sun Weather-->
<!--change background color from f0f0f0f0 to 263942-->
<!--change background color from 263942 to 40607F-->
   <!--change  color size from 14px to 16px-->
<br><fieldset style="border-radius: 8px; background-color:#40607F;margin-left:15px;margin-right:15px;font-size:16px;border-top-left-radius: 10px; border-top-right-radius: 10px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <!--change font color from 000 to 96A1AC and add <mr>-->
<legend><b><font color="#96A1AC">&nbsp;.: Sun Weather :.&nbsp;</font></b></legend><mr></mr>

<div id="containerimg">
<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0094.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0094.jpg" alt="Sun Wether">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0131.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0131.jpg" alt="Sun Wether" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0171.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0171.jpg" alt="Sun Wether" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0193.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0193.jpg" alt="Sun Wether" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<!--new line for image-->
<br style="clear:both" />

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0211.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0211.jpg" alt="Cinque Terre" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0304.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0304.jpg" alt="Sun Wether" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0335.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_0335.jpg" alt="Northern Lights" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="sungallery">
  <a target="_blank" href="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_1600.mp4" onclick="return popitup(this)">
    <img src="/img/nasa/latest_512_1600.jpg" alt="Mountains" width="220" height="220">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
 <!--close for containerimg1-->
</div>
</fieldset><br>


<!--end of sun Wether-->

</div>

<div style="width: 960px;">
<p style="text-align: center;"><span style="text-align: center;">
Copyright (c) 2016-2021<br>The Regents of the <a target="_blank" href=http://k0usy.mystrikingly.com/>K0USY Group</a>. All rights reserved.<br><a title="HBMonv2 SP2ONG v20210401" target="_blank" href=https://github.com/sp2ong/HBMonv2>Version SP2ONG 2019-2021</a><br><br></span>
    <!-- THIS COPYRIGHT NOTICE MUST BE DISPLAYED AS A CONDITION OF THE LICENCE GRANT FOR THIS SOFTWARE. ALL DERIVATEIVES WORKS MUST CARRY THIS NOTICE -->
    <!-- This is version of HBMonitor SP2ONG 2019-2021 (v20210401)-->
</p>
</div>
</center>
<!---End comment by Jeff 19082022--->